.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh; // footer 보이지 않게 할 경우 100vh 
    margin-top: 90px;
}


.label_input {
    font-family: 'TD-Light';
    font-size: 30px;
    display: block;

    input {
        font-size: 20px;
        border: 7px solid #000;
        padding-left: 10px;
        width: 290px;
        height: 40px;
        margin-top: 50px;
        margin-left: 30px;
    }

    input[type="password"] {
        margin-left: 35px;
    }

    span {
        font-family: 'TD-Thin';
        font-size: 16px;
        color: red;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.label_checkbox {
    width: 430px;
    height: 100px;
    margin: 20px;
    display: flex;
    align-items: center;
    position: relative;

    // border: 1px solid black;


    span {
        font-family: 'TD-Light';
        font-size: 18px;
        color: #747474;
        position: absolute;
        right: 50px;
    }

    input[type="checkbox"] {
        height: 50px;
        transform: scale(3);
        position: absolute;
        right: 0;
        accent-color: rgb(143, 167, 253);
        // border: 2px solid #000;
        // border-radius: 0;
    }
}



.button_group {
    display: flex;
    justify-content: space-between;
    width: 450px;
    margin-top: 20px;

    button {
        font-family: 'TD-Regular';
        padding: 10px 20px;
        font-size: 25px;
        border: 8px solid black;
        width: 180px;
        height: 100px;
        cursor: pointer;
    }

    button[type="submit"] {
        background-color: orange;

    }

    button[type="button"] {
        background-color: deepskyblue;
    }
}