@font-face {
  font-family: 'title';
  src: url('assets/font/title.ttf') format('truetype');
}

@font-face {
  font-family: 'title_under';
  src: url('assets/font/title_under.ttf') format('truetype');
}

@font-face {
  font-family: 'title_over';
  src: url('assets/font/title_over.ttf') format('truetype');
}

@font-face {
  font-family: 'TD-Bold';
  src: url('assets/font/TD-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'TD-Regular';
  src: url('assets/font/TD-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'TD-Light';
  src: url('assets/font/TD-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'TD-Semithin';
  src: url('assets/font/TD-Semithin.ttf') format('truetype');
}

@font-face {
  font-family: 'TD-Thin';
  src: url('assets/font/TD-Thin.ttf') format('truetype');
}